<!DOCTYPE html>
<html>
<head>
    <title>챗봇 비서</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src='/static/js/mydisplay.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/mycommon.css">
    <script>
        var a = return_screen_size();
        document.write(a);
    </script>
</head>
<body>
    <div><img src="/static/title.png" width="50%" height="50%"></div>
    <div>엑셀 파일 읽기</div>
    <form action="/get_data" id="input-form" method="post">
        <button id="start-btn" type="button"><span class="blind">음성</span></button>
        <input type="text" name="input_data" id="input_data" placeholder="hello...">
    <button type="submit">확인</button>
    </form>
    <script src='/static/js/myvoice.js'></script>
</body>
</html>